@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --palette-dark: #1C1E1B;       /* 01 - Dark */
  --palette-charcoal: #2F352B;   /* 02 - Charcoal */
  --palette-lime: #7DEF70;       /* 03 - Lime */
  --palette-mint: #CBF1B7;       /* 04 - Mint */
  --palette-ivory: #F3F7EC;      /* 05 - Ivory */
  --palette-white: #F9FAF8;      /* 06 - White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FAF8;
  }
}

body {
  background: var(--background);
}

input {
  outline: none;
}
